/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6600;
}


/* Main content */
main {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    color: #ff6600;
    margin: 10px 0;
}

.product a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
    margin: 10px 0;
}

.product a:hover {
    color: #004fa2;
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4400;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}

/* Responsive styling */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}
